@import url('https://fonts.googleapis.com/css2?family=Poppins');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Poppins',sans-serif;
}

:root{
    --bg-color: #1f242d;
    --second-bg-color: #323946;
    --text-color: #fff;
    --main-color: #0ef

}

body{
    background: var(--bg-color);  ;
    color: var(--text-color);
}

section{
    min-height: 100vh;
    padding: 10rem 9% 2rem;
}

.heading {
    text-align: center;
    font-size: 3.5rem;
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 9%;
    background: var(--bg-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;

}




.portfolio{
    background: var(--second-bg-color);
}

.portfolio h2{
    margin-bottom: 4rem;
    align-items: center;
}

.portfolio h2 span {
    color: var(--main-color);
}

.portfolio-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    align-items: center;
    gap: 2.5rem;
}

.portfolio-container .portfolio-box{
    position: relative;
    border-radius: 1rem;
    box-shadow: 0 0 1rem var(--bg-color);
    overflow: hidden;
    display: flex;
}

#height1{
    height: 150%;
}
.portfolio-box img{
    width: 100%;
    height: 100%;
    filter: brightness(50%);
    transition: .5s ease;
}

.portfolio-box:hover img {
    transform: scale(1.1);
    height: auto;
}

.portfolio-box .portfolio-layer{
    /* position: relative; */
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0,0,0,.1) , var(--main-color));
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 0 4rem;
    transform: translateY(100%);
    transition: .5s;

}

.portfolio-layer h4{
    font-size: 1.3rem;
}

.portfolio-layer p{
    font-size: 0.8rem;
    margin: .3rem 0 1rem;

}

.portfolio-box:hover .portfolio-layer{
    transform: translateY(0);
}

.portfolio-layer a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 5rem;
    height: 5rem;
    background: var(--text-color);
    border-radius: 50%;
}

 .portfolio-layer a i{
    font-size: 2rem;
    color: var(--second-bg-color);
 }