@import url('https://fonts.googleapis.com/css2?family=Poppins');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Poppins',sans-serif;
}

:root{
    --bg-color: #1f242d;
    --second-bg-color: #323946;
    --text-color: #fff;
    --main-color: #0ef

}

body{
    background: var(--bg-color);  ;
    color: var(--text-color);
}

section{
    min-height: 100vh;
    padding: 10rem 9% 2rem;
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 9%;
    background: var(--bg-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;

}

.header.sticky {
    border-bottom: .1rem solid rgba(0,0,0,.2);
}

.logo{
    font-size: 2rem;
    color: var(--text-color) ;
    text-decoration: none;
    font-weight: 600;
    cursor: default;
    opacity: 0;
    animation: slideRight 1s ease forwards;

}

.navbar a {
    display: inline-block;
    font-size: 1rem;
    color: var(--text-color);
    text-decoration: none;
    font-weight: 500;
    margin-left: 4rem;
    transition: .3s;
    opacity: 0;
    animation: slideTop .5s ease forwards;
    animation-delay: calc(.2s * var(--i));

}

.navbar a:hover,
.navbar a.active{
    color: var(--main-color);    
}

#menu-icon{
    font-size: 3.6rem;
    color: var(--text-color);
    display: none;
}

.home{
    position: relative;
    width: 100;
    height:100vh ;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 70px 10% 0;

}

.home-content{
    max-width: 600px;

}

.home-content h3{
    font-size: 2rem;
    font-weight: 700;
    opacity: 0;
    animation: slideBottom 1s ease forwards;
    animation-delay: .7s;
}

.home-content h3:nth-of-type(2){
    margin-bottom: 30px;
    opacity: 0;
    animation: slideTop 1s ease forwards;
    animation-delay: .7s;

}

.home-content h3 span{
    color: var(--main-color) ;
}

.home-content h1{
    font-size: 50px;
    font-weight: 700;
    line-height: 1.3;
    margin: -3px 0;
    opacity: 0;
    animation: slideRight 1s ease forwards;
    animation-delay: 1s;
}

.home-content p {
    font-size: 16px;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: .7s;
}

.home-img img {
    max-width: 400px;
    margin-right: -20px;
    opacity: 0;
    animation: zoomIn 1s ease forwards , floatImage 4s ease-in-out infinite;
    animation-delay: 2s,3s ;

}

.social-media a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid #0ef;
    border-radius: 50%;
    font-size: 20px;
    color: #0ef;
    text-decoration: none;
    margin: 30px 15px 30px 0;
    transition: .5s ease;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: calc(.2s * var(--i) );
}

.social-media a:hover{
    background: #0ef;
    color: #1f242d;
    box-shadow: 0 0 20px #0ef;
}

.btn{
    display: inline-block;
    padding: 12px 28px;
    background: #0ef;
    border-radius: 40px;
    box-shadow: 0 0 10px #0ef;
    font-size: 16px;
    color: #1f242d;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;
    opacity: 0;
    animation: slideTop 1s ease forwards;
    animation-delay: 2s ;
}

.about {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    background: var(--second-bg-color);
}

.about-content h2 span{
    color: #0ef ;}

.about-img img{
    width: 30vw;
}

.heading {
    text-align: center;
    font-size: 3.5rem;
}

.about-content h2{
    text-align: left;
    line-height: 1.2;
}

.about-content h3{
    font-size: 2rem;
}

.about-content p{
    font-size: 1rem;
    margin: 2rem 0 3rem;
}




/* Keyframes Animation */

@keyframes slideRight{
    0%{
        transform: translate(-100px);
        opacity: 0;
    }

    100%{
        transform: translate(0);
        opacity: 1;
    }

}

@keyframes slideTop{
    0%{
        transform: translateY(100px);
        opacity: 0;
    }

    100%{
        transform: translateY(0);
        opacity: 1;
    }

}

@keyframes slideBottom{
    0%{
        transform: translateY(-100px);
        opacity: 0;
    }

    100%{
        transform: translateY(0);
        opacity: 1;
    }

}

@keyframes slideLeft{
    0%{
        transform: translate(100px);
        opacity: 0;
    }

    100%{
        transform: translate(0);
        opacity: 1;
    }

}

@keyframes zoomIn{
    0%{
        transform: scale(0);
        opacity: 0;
    }

    100%{
        transform: scale(1);
        opacity: 1;
    }

}

@keyframes floatImage {
    0%{
        transform: translateY(0);
    }

    50%{
        transform: translateY(-24px );
    }

    100%{
        transform: translateY(0);
    }
}

.skills h2 {
     margin-bottom: 5rem;
}

.skills h2 span{
    color: #0ef ;}

.skills-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 3rem;
}

.skills-container .skills-box{
    flex: 1 1 20rem;
    background: var(--second-bg-color);
    padding: 3rem 2rem 4rem;
    border-radius: 3rem;
    text-align: center;
    border: .4rem solid var(--bg-color);
    transition: .5s ease;
}

.skills-container .skills-box:hover{
    border-color: var(--main-color);
    transform: scale(1.02);
}

.skills-box i{
    font-size: 5rem;
    color: var(--main-color);
}

.skills-box p {
    font-size: 1rem;
    margin: 1rem 0 3rem;
}

.portfolio{
    background: var(--second-bg-color);
}

.portfolio h2{
    margin-bottom: 4rem;
}

.portfolio h2 span {
    color: var(--main-color);
}

.portfolio-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    align-items: center;
    gap: 2.5rem;
}

.portfolio-container .portfolio-box{
    position: relative;
    border-radius: 1rem;
    box-shadow: 0 0 1rem var(--bg-color);
    overflow: hidden;
    display: flex;
}

#height1{
    height: 150%;
}
.portfolio-box img{
    width: 100%;
    height: 150%;
    filter: brightness(50%);
    transition: .5s ease;
}

.portfolio-box:hover img {
    transform: scale(1.1);
}

.portfolio-box .portfolio-layer{
    /* position: relative; */
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0,0,0,.1) , var(--main-color));
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 0 4rem;
    transform: translateY(100%);
    transition: .5s;

}

.portfolio-layer h4{
    font-size: 1.3rem;
}

.portfolio-layer p{
    font-size: 0.8rem;
    margin: .3rem 0 1rem;

}

.portfolio-box:hover .portfolio-layer{
    transform: translateY(0);
}

.portfolio-layer a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 5rem;
    height: 5rem;
    background: var(--text-color);
    border-radius: 50%;
}

 .portfolio-layer a i{
    font-size: 2rem;
    color: var(--second-bg-color);
 }

 .contact h2{
    margin-bottom: 2rem;
 }

 .contact form{
    max-width: 70rem;
    margin: 1rem auto;
    text-align: center;
    margin-bottom: 1rem;
 }

 .contact form .input-box{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
 }

 .contact form .input-box input,
.contact form textarea {
    width: 100%;
    padding: 1.2rem;
    font-size: 0.7rem;
    color: var(--text-color);
    background: var(--second-bg-color);
    border-radius: .8rem;
    margin: .3rem 0;
}

.contact form .input-box input{
    width: 49%;
}

.contact form textarea{
    resize: none;
}

.contact form .btn{
    margin-top: 2rem;
    cursor: pointer;
}

.footer{
    display: flex;
    justify-content: space-between ;
    align-items: center;
    flex-wrap: wrap;
    padding: 1.2rem 7%;
    background: var(--second-bg-color);
}

.footer-text p{
    font-size: 0.8rem;
}

.footer-iconTop a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: .8rem;
    background: var(--main-color);
    border-radius: .8rem;
    transition: .5s ease;
}

.footer-iconTop a:hover{
    box-shadow: 0 0 1rem var(--main-color);
}

.footer-iconTop a i{
    font-size: 1rem;
    color: var(--second-bg-color);
}

/* breakpoints */

@media (max-width : 1200px) {
    html{
        font-size: 55%;
    }
}

@media (max-width : 991px) {
    .header{
        padding: 2rem 3%;
    }
    section {
        padding : 10rem 3% 2rem;
    }

    .services{
        padding-bottom: 7rem;
    }

    .portfolio{
        padding-bottom: 7rem;
    }

    .contact{
        min-height: auto;
    }

    .footer{
        padding: 2rem 3%;
    }
}

@media (max-width: 768px){
    #menu-icon{
        display: block;
    }

    #im1{
        display: none;
    }



    .navbar{
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        padding: 1rem 3%;
        background: var(--bg-color);
        border-top: .1rem solid rgba(0,0,0,.2);
        box-shadow: 0 .5rem 1rem rgba(0,0,0,.2);
        display: none;
    }

    .navbar.active{
        display: block;
    } 

    .navbar a{
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
    }

    .home{
        flex-direction: column;
    } 

    .home-content h3{
        font-size: 2.6rem;
    }

    .home-content h1{
        font-size: 5rem;
    }

     /* .home-img img{
        width: 70vw;
        margin-top: 4rem;
    } */
    
    .about{
        flex-direction: column-reverse;
    }

    .about img{
        width: 70vw;
        margin-top: 4rem;
    }

    .services h2{
        margin-bottom: 3rem ;
    }

    .portfolio h2{
        margin-bottom: 3rem;
    }

    .portfolio-container{
        grid-template-columns: repeat(1,1fr);
    }
}

@media (max-width: 450px) {
    html{
        font-size: 70%;
    }

    .contact form .input-box input{
        width:100%;
    }
}

@media (max-width: 365px){
    /* .home-img img{
        width: 90vw;
    } */

    html{
        font-size: 65%;
    }
    

    .about-img img{
        width: 90vw;
    }

    .footer{
        flex-direction: column-reverse;
    }

    .footer p{
        text-align: center;
        margin-top: 2rem;
    }
}



